$openWidth : 40vw
$closeWidth : 20vw
$height: 45vh

.Tweeling
  height: $height
  display: grid
  border-radius: 4px
  overflow: hidden
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2)
  .tweets
    background-color: #FFF
    padding: 0 10px
    overflow-y: scroll
    min-height: $height

.Tweeling.open
  $width: $openWidth
  width: $width
  grid-template-columns: $width*2/5 $width*3/5
  grid-template-rows: $height
  .result
    grid-column: 1/2
    background: linear-gradient(75deg, #00E39F, #00C4E1)
  .tweets
    grid-column: 2/3

.Tweeling.close
  $width: $closeWidth
  width: $width
  grid-template-columns: $width
  grid-template-rows: $height
  .result
    grid-column: 1/2
    background: linear-gradient(75deg, #00E39F, #00C4E1)
